* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

#question-jp {
  font-size: 4rem;
}

#answer {
  font-size: 2.5rem;
}

#check {
  font-size: 2rem;
}

#result {
  height: 3rem;
  font-size: 2rem;
}

#history {
  position: fixed;
  bottom: 4vh;
  font-size: 2rem;
}
