body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mode {
  display: block;
  text-align: center;

  font-size: 2.5rem;
  padding: 1.5rem 0;

  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
}
